@model IEnumerable<MVC.Models.DepartementViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Departement Data</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

    <table class="table text-center">
        <thead>
            <tr>

                <th>
                    Nama
                    @*@Html.DisplayNameFor(model => model.Name)*@
                </th>

                <th>
                    Division ID
                    @*@Html.DisplayNameFor(model => model.DivisionId)*@
                </th>
                <th>
                    Division Name
                </th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.departementVm.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.departementVm.DivisionId)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.divisionVm.Name)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.departementVm.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.departementVm.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.departementVm.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

